<h2>Colonias</h2>
<div class="row">
	<div class="col-sm-12">
<!--
		<a class="btn btn-{{c.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" ng-click="c.nuevaColonia()">
		 {{c.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
-->
	
			<form class="form-horizontal" role="form" data-parsley-validate>
	    	 <div class="well">
	    	 	<div class="row">
	    	 		<div class="col-sm-12">
	    	 			<div class="col-sm-3">
	    	 				<label>Nombre</label>
					    	<input type="text" class="form-control" placeholder="Nombre de la Colonia" ng-model="c.colonia.nombre" capitalized >
	    	 			</div>
	    	 			<div class="col-sm-3">
	    	 				<label>Precio Envío</label>
					    	<input type="number" class="form-control" ng-model="c.colonia.precioEnvio">
	    	 			</div>
	    	 		</div>
	    	 	</div><br/>

					<div class="row">
						
						<div class="col-sm-12">
							<input type="submit" ng-click="c.guardar(c.colonia)" value="Guardar" class="btn btn-primary" ng-show="c.action">
							<input type="submit" ng-click="c.actualizar(c.colonia)" value="Actualizar" class="btn btn-primary" ng-show="!c.action">	
						</div>
					</div>



		  	</div>
	  	</form>
		
	</div>
</div>
<br/>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="10%">No.</th>
					<th><div class="text-center">Nombre</div></th>
					<th><div class="text-center">Precio Envío</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="colonia in c.colonias">
			    <td><div class="text-center">{{$index + 1}}</div></td>
			    <td><div class="text-center">{{colonia.nombre}}</div></td>
			    <td><div class="text-center">{{colonia.precioEnvio | currency}}</div></td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="colonia.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!colonia.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="c.editar(colonia._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							  <li><a href="#" ng-click="c.cambiarEstatus(colonia._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>