<h2>Listado de Pedidos</h2>
<!-- <h2>Vendedores</h2> -->
<div class="row well">
	<form name="form" class="form-horizontal" role="form" novalidate style="margin: auto;">
		<div class="col-sm-2 col-sm-offset-4 text-center" valida>
			<label for="fechaInicial">Fecha Inicial *</label>
			<input name="fechaInicial" date-time format="dd-MM-yyyy" class="form-control" readonly="" style="background-color: white" view="date" max-view="year" min-view="date" ng-model="p.fechaInicial" required="" />
		</div>
		<div class="col-sm-2 text-center" valida>
			<label for="fechaFinal">Fecha Final *</label>
			<input name="fechaFinal" date-time format="dd-MM-yyyy" class="form-control" readonly="" style="background-color: white" view="date" max-view="year" min-view="date" ng-model="p.fechaFinal" required="" />
		</div>
		<div class="col-sm-2">
			<button class="btn btn-primary" ng-click="p.getPedidos(p.fechaInicial, p.fechaFinal)">Buscar</button>
		</div>
	</form>
</div>
<div class="row">
	<div class="col-sm-">
		
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table">
			<tr>
				<th>No.</th>
				<th>Clientes</th>
				<th>Fecha Entrega</th>
				<th>Estatus Prod.</th>
				<th>Estatus Pago.</th>
				<th>Fecha Pedido</th>
				<th>Pagado</th>
				<th>Saldo</th>
				<th>Acciones</th>
			</tr>
			<tr ng-repeat="venta in p.ventas">
				<td>{{$index + 1}}</td>
				<td>{{venta.clienteSeleccionado.profile.nombreCompleto}}</td>
				<td>{{venta.entrega.fecha | date:"dd-MM-yyyy hh:mm"}}</td>
				<td><span ng-class="">{{venta.estatusNombre}}</span></td>
				<td><span ng-class="">{{venta.estatusNombrePago}}</span></td>
				<td>{{venta.fechaCreacion | date:"dd-MM-yyyy HH:mm"}}</td>
				<td>{{venta.anticipo + venta.pagado | currency}}</td>
				<td>{{venta.saldo | currency}}</td>
				<td class="text-center">
					<div class="btn-group">
					  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    <span class="caret"></span>
					    <span class="sr-only">Toggle Dropdown</span>
					  </button>
					  <ul class="dropdown-menu  dropdown-menu-right text-left">
					    <li><a href="#" ng-click="p.editar(venta._id)"><i class="fa fa-pencil"></i> Editar</a></li>
					    <li ng-show="venta.saldo > 0"><a href="#" ng-click="p.mostrarModalPago(venta._id)"><i class="fa fa-dollar"></i> Pagar</a></li>
					    <li><a href="#" ng-click="p.cambiarEstatus(venta._id)">
					    				<i class="fa fa-{{venta.estatus ? 'trash' : 'check' }}"></i> {{venta.estatus ? "Desactivar" : "Activar" }}
					    		</a>
					    </li>
					  </ul>
					</div>
				</td>
			</tr>
			<tr>
				<th colspan="5"></th>
				<th class="text-right">Total</th>				
				<th>{{p.pagadoTotal | currency}}</th>
				<th>{{p.saldoTotal | currency}}</th>
				<th></th>
			</tr>
		</table>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="pagar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{p.ventaSeleccionada.cliente.profile.nombreCompleto}}</h4>
      </div>
      <div class="modal-body">
        <form name="form" class="form-horizontal" role="form"  novalidate>
	        <div class="row">
			    	<div class="col-sm-12" valida>
					    <label>Importe a pagar *</label>
					    <input name="importeAPagar" type="number" class="form-control" ng-model="p.importeAPagar" required="">
			    	</div>
			    </div>
			    <fieldset>
							<div class="form-group">
				        <label class="col-md-2 control-label">Forma de pago</label>
				        <div class="col-md-2">
				          <button class="btn btn-{{p.ventaSeleccionada.formaPago == 'Efectivo' ? 'info' : 'default'}} form-control" ng-click="p.seleccionarFormaPago('Efectivo', false)">Efectivo</button>
				        </div>
				        <div class="col-md-2">
				          <button class="btn btn-{{p.ventaSeleccionada.formaPago == 'Tarjeta' ? 'info' : 'default'}} form-control" ng-click="p.seleccionarFormaPago('Tarjeta', false)">Tarjeta</button>		
				        </div>
				        <div class="col-md-3">
				          <button class="btn btn-{{p.ventaSeleccionada.formaPago == 'Oxxo/Trans' ? 'info' : 'default'}} form-control" ng-click="p.seleccionarFormaPago('Oxxo/Trans', true)">Oxxo/Trans</button>
				        </div>
				        <div class="col-md-3">
				          <button class="btn btn-{{p.ventaSeleccionada.formaPago == 'Intercambio' ? 'info' : 'default'}} form-control" ng-click="p.seleccionarFormaPago('Intercambio', false)">Intercambio</button>
				        </div>				        
					    </div>
						</fieldset>
	        <address>
					  <strong>Saldo: {{p.ventaSeleccionada.saldo | currency}}.</strong><br>
					  Tipo: {{p.ventaSeleccionada.tipoEnvio}}<br>
					  Dirección : {{p.ventaSeleccionada.cliente.profile.calleNum + " " + p.ventaSeleccionada.cliente.profile.colonia + ", " + p.ventaSeleccionada.cliente.profile.codigoPostal}}<br>
					  <abbr title="Teléfono">T:</abbr> {{p.ventaSeleccionada.cliente.profile.tel1}}
					</address>
					
					<address>
					  <strong>{{p.ventaSeleccionada.cliente.profile.nombreCompleto}}</strong><br>
					  <a href="mailto:{{p.ventaSeleccionada.cliente.profile.correo}}">{{p.ventaSeleccionada.cliente.profile.correo}}</a>
					</address>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	        <button type="button" class="btn btn-primary" ng-click="p.pagar(p.ventaSeleccionada, p.importeAPagar, form)" valida-form formulario="form">Pagar</button>
	      </div>
			</form>
    </div>
  </div>
</div>