<form method="post" class="well padding-bottom-10" onsubmit="return false;">
	<textarea rows="2" class="form-control" placeholder="Qué estás pensando?" ng-model="m.post.mensaje"></textarea>
	<div class="margin-top-10">
		<button type="submit" class="btn btn-sm btn-primary pull-right" ng-click="m.comentar(m.post)">
			<i class="fa fa-send"></i> Enviar
		</button>								
		<a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Ubicación"><i class="fa fa-location-arrow" ng-click="m.mostrarGeolocalizacion()"></i></a>
	</div>
</form>
<!--
<form method="post" class="well padding-bottom-10" onsubmit="return false;">
	<textarea rows="2" class="form-control" placeholder="What are you thinking?"></textarea>
	<div class="margin-top-10">
		<button type="submit" class="btn btn-sm btn-primary pull-right">
			Post
		</button>
		<a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add Location"><i class="fa fa-location-arrow"></i></a>
		<a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add Voice"><i class="fa fa-microphone"></i></a>
		<a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add Photo"><i class="fa fa-camera"></i></a>
		<a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add File"><i class="fa fa-file"></i></a>
	</div>
</form>
-->